In [9]:
import pandas as pd
data = {
  "calories": [420, 280 , 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       280        40
2       390        45

In [11]:
df.mode()

   calories  duration
0       280        40
1       390        45
2       420        50

In [45]:
import pandas as pd

df= pd.read_csv('customer_churn_data.csv')
#print(df)

count_MissingValue = df.isnull().sum()
#print("Missing Values in the dataset: ", count_MissingValue)

newdf = df.fillna('NA')

count_MissingValue_afterNA = newdf.isnull().sum()
print("After replacing null, verified Missing Values count in the dataset: ", count_MissingValue_afterNA)

df_cleaned = newdf.drop_duplicates()
#print("Before removing duplicates, DF has rows: ", len(newdf))
#print("After removing duplicates, DF has rows: ", len(df_cleaned))

min_age = df_cleaned['Age'].min()
max_age = df_cleaned['Age'].max()

df_cleaned['Normalized Age'] = (df_cleaned['Age']-min_age) / (max_age - min_age)

print(df_cleaned[['Age', 'Normalized Age']])

After replacing null, verified Missing Values count in the dataset:  CustomerID         0
Age                0
Gender             0
Tenure             0
MonthlyCharges     0
ContractType       0
InternetService    0
TotalCharges       0
TechSupport        0
Churn              0
dtype: int64
     Age  Normalized Age
0     49        0.521127
1     43        0.436620
2     51        0.549296
3     60        0.676056
4     42        0.422535
..   ...             ...
995   42        0.422535
996   62        0.704225
997   51        0.549296
998   39        0.380282
999   50        0.535211

[1000 rows x 2 columns]